In [2]:
import numpy as np
import sqlite3
import pandas as pd

In [1]:
%pip install -q ipython-sql

Note: you may need to restart the kernel to use updated packages.

In [4]:
# criar um dataframe com dados de exemplo
df = pd.DataFrame({
    'Nome': ['Ana', 'Bruno', 'Carlos'],
    'Idade': [22, 28, 35],
    'Gênero': ['F', 'M', 'M']
})
print(df)
df.head()

     Nome  Idade Gênero
0     Ana     22      F
1   Bruno     28      M
2  Carlos     35      M

     Nome  Idade Gênero
0     Ana     22      F
1   Bruno     28      M
2  Carlos     35      M

In [11]:
# Conectar ao banco de dados SQLite (ou criar um novo banco de dados)
conn = sqlite3.connect('projeto_teste.db')

# Salvar o dataframe no banco de dados SQLite
df.to_sql('tabela_exemplo', conn, if_exists='replace', index=False)

# Fechar a conexão
conn.close()

In [ ]:
%rm "projeto_teste.db"
#%del "projeto_teste.db"